* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.Section1_Wrapper {
  display: flex;
  padding: 10px 30px;
  flex-direction: column; /* پیش‌فرض: چیدمان عمودی برای موبایل */
  align-items: center;
}

.imageURL {
  width: 100%; /* پیش‌فرض: تصویر کل عرض رو بگیره */
  height: 60vh;
  margin-bottom: 50px;
  /* mix-blend-mode: multiply; */
}

.sec1_text {
  text-align: center;
  margin-top: 20px;
  overflow-x: hidden;
  /* text-shadow: 1px 1px 100px #fff; */
}

p {
  font-size: 17px;
}

.sec1_text p:nth-child(1) {
  color: #fff;
}

.sec1_text p:nth-child(2) {
  margin: 50px 0;
  color: #fafafa;
}

.sec1_text p:nth-child(3) {
  color: #fff;
  margin: 20px 0;
}

.H1 {
  width: 100%;
  color: #fff;
  margin: 80px 0;
  text-align: center;
}


/* استایل‌های خاص برای کامپیوتر (صفحه‌های بزرگ) */
@media (min-width: 769px) {
  .Section1_Wrapper {
    flex-direction: row; /* چیدمان افقی برای کامپیوتر */
    align-items: flex-start; /* متن‌ها از بالا شروع بشن */
    gap: 20px; /* فاصله بین عکس و متن */
  }

  .imageURL {
    width: 50%; /* تصویر نصف عرض صفحه رو بگیره */
  }

  .sec1_text {
    width: 50%; /* متن‌ها نصف عرض صفحه رو بگیرن */
    text-align: left; /* متن‌ها چپ‌چین بشن */
    margin-top: 0; /* فاصله بالای متن رو حذف کن */
  }
}
